<article>
    <h1>About</h1>
    <p>
        This is a site for me to work on strengthening my front-end development skills
    </p>
    <p>
        There is a challenge online in the world of Designers called the 100 Days UI challenge, where a designer will
        receive prompts (typically through email) and design a UI around that. This continues each day for 100 days.
    </p>
    <p>
        My goal for this site is to take a designer's resulting daily UI's and turn them into a static web page using
        CSS3, Vanilla JS, and HTML5. For my inspirational designer, I will be using <a href="https://dribbble.com/NpaulFlavius">Paul Flavius</a>,
        the creator of <a href="http://www.100daysui.com/">100daysui.com</a>.
    </p>
</article>