<div class="container">
    <div class="modal">
        <figure class="modal-img-background-wrapper">
            <img class="modal-img-background" src="img/cafeStreet.jpg"/>
        </figure>
        <div class="modal-inner">
            <div class="modal-nav">
                <button class="active">Sign In</button>
                <button>Sign Up</button>
            </div>
            <form>
                <label for="username">Username</label>
                <input id="username" type="text" name="username" value="Zach Newton"/>
                <label for="password">Password</label>
                <input id="password" type="password" name="password" value="password"/>
                <div class="checkbox-label">
                    <input id="keep-signed-in" type="checkbox" name="keep" value="true" checked>
                    <label for="keep-signed-in">Keep me Signed in</label>
                </div>
                <input id="signon-submit" type="submit" name="submit" value="Sign In">
            </form>
            <div class="bar"></div>
            <a href="">Forgot Password?</a>
        </div>
    </div>
</div>