<div class="container">
    <div class="modal">
        <div class="modal-escape"></div>
        <div class="modal-graphic">
            <div class="modal-graphic-header">
                Nook
            </div>
            <div class="modal-graphic-subheader">
                Lounge Chair
            </div>
            <div class="modal-graphic-price">
                $<span class="unit-price"></span>
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-item-description">
                Designer Karim Rashid continues to put his signature spin on all
                genres of design through various collaborations with top-notch companies.
                Another one to add to the win column is his work with Italian manufacturer Chateau d'Ax.
            </div>
            <div class="modal-item-stock-status">
                In stock. <a href="#">Buy Extended Warranty</a>
            </div>
            <div class="modal-item-rating">

            </div>
            <div class="modal-item-quantity">
                <span class="quantity-label">Quantity</span>
                <button class="chevron-left"><</button>
                <span id="quantity"></span>
                <button class="chevron-right">></button>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-footer-left">
                $<span id="total-price"></span>
            </div>
            <div class="modal-footer-right">
                <button id="add-to-cart" onclick="test()">Add to Cart</button>
            </div>
        </div>
    </div>
    <script id="daily-script"></script>
</div>