<div class="container">
	<div class="modal">
		<div id="contact-list">
			<div class="contact">
				<div class="contact-image">
					<img src="img/face1.jpg" title="user-pic">
				</div>
				<div class="contact-info">
					<div class="contact-name">Derek Teal</div>
					<div class="contact-number">+40 <span class="highlight">0742</span> 723 233</div>
				</div>
			</div>
			<div class="contact">
				<div class="contact-image">
					<img src="img/face2.jpg" title="user-pic">
				</div>
				<div class="contact-info">
					<div class="contact-name">Simon Burton</div>
					<div class="contact-number">+40 <span class="highlight">0742</span> 554 784</div>
				</div>
			</div>
			<div class="contact">
				<div class="contact-image">
					<img src="img/face3.jpg" title="user-pic">
				</div>
				<div class="contact-info">
					<div class="contact-name">Penny Bart</div>
					<div class="contact-number">+40 <span class="highlight">0742</span> 143 020</div>
				</div>
			</div>
		</div>
		<div id="keypad">
			<div class="row">
				<button id="add-contact">+</button>
				<span id="keypad-display">0742</span>
				<button id="reset">&times;</button>
			</div>
			<div class="row">
				<button>
					<span class="keypad-number">1</span>
					<span class="keypad-alpha"></span>
				</button>
				<button>
					<span class="keypad-number">2</span>
					<span class="keypad-alpha">abc</span>
				</button>
				<button>
					<span class="keypad-number">3</span>
					<span class="keypad-alpha">def</span>
				</button>
			</div>
			<div class="row">
				<button>
					<span class="keypad-number">4</span>
					<span class="keypad-alpha">ghi</span>
				</button>
				<button>
					<span class="keypad-number">5</span>
					<span class="keypad-alpha">jkl</span>
				</button>
				<button>
					<span class="keypad-number">6</span>
					<span class="keypad-alpha">mno</span>
				</button>
			</div>
			<div class="row">
				<button>
					<span class="keypad-number">7</span>
					<span class="keypad-alpha">pqr</span>
				</button>
				<button>
					<span class="keypad-number">8</span>
					<span class="keypad-alpha">tuv</span>
				</button>
				<button>
					<span class="keypad-number">9</span>
					<span class="keypad-alpha">wxyz</span>
				</button>
			</div>
			<div class="row">
				<button>
					<span class="keypad-number">*</span>
					<span class="keypad-alpha"></span>
				</button>
				<button>
					<span class="keypad-number">0</span>
					<span class="keypad-alpha">+</span>
				</button>
				<button>
					<span class="keypad-number">#</span>
					<span class="keypad-alpha"></span>
				</button>
			</div>
			<div class="row">
				<button id="call">&#9742;</button>
			</div>
		</div>
	</div>
</div>