@import url('https://fonts.googleapis.com/css?family=Roboto:400');

.container {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
    text-align: center;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff00+19,fe0000+19,fe0000+19,fe0000+42,180070+42,180070+42,180070+61,007729+61,007729+81,bc004e+81 */
    background: #6c2347; /* Old browsers */
    background: -moz-linear-gradient(-60deg, #6c2347 19%, #51345f 19%, #51345f 19%, #51345f 42%, #355552 42%, #355552 42%, #355552 61%, #6d3341 61%, #6d3341 81%, #56565e 81%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-60deg, #6c2347 19%,#51345f 19%,#51345f 19%,#51345f 42%,#355552 42%,#355552 42%,#355552 61%,#6d3341 61%,#6d3341 81%,#56565e 81%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(-60deg, #6c2347 19%,#51345f 19%,#51345f 19%,#51345f 42%,#355552 42%,#355552 42%,#355552 61%,#6d3341 61%,#6d3341 81%,#56565e 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#bc004e',GradientType=0 ); /* IE6-9 */
    height: 100%;
}
.modal {
    position: relative;
    display: inline-block;
    width: 600px;
    margin: 3em auto;
    padding: 3em 0 0 3em;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.3), -3px -3px 10px rgba(0,0,0,0.3);
}
.modal > * {
    text-align: left;
}
.modal-content, .modal-graphic {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.modal-graphic-header {
    font-weight: 900;
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: -12px;
    color: #020314;
    text-align: justify;
}
.modal-graphic-subheader {
    font-weight: 400;
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: justify;
    color: #888888;
}
.modal-graphic-price {
    font-size: 1.3em;
}
.modal-graphic-image {
    width: 100%;
}
.modal-graphic-image > img {
    width: 90%;
    height: auto;
}

.modal-content {
    padding: 0 25px;
    font-size: 0.9em;
}
.modal-content > * {
    margin-bottom: 1.5em;
}

.modal-item-description {
    font-size: 0.9em;
    color: #888;
}

.modal-item-stock-status {
    margin-bottom: 2em;
}
.modal-item-stock-status a {
    text-decoration: none;
    color: #323E8C;
}
.modal-item-rating {
    margin-bottom: 3.5em;
}
.rating-indicator {
    color: #888888;
}
.quantity-label {
    text-transform: uppercase;
}

.modal-footer {
    border-top: 1px solid #bbbbbb;
    padding: 1em;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-top: 1em;
}
.modal-footer > * {
    position: relative;
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    vertical-align: middle;
}
.modal-footer-left {
    text-align: left;
}
.total-price {
    color: #8FEB23;
    font-size: 1.8em;
}
.modal-footer-right {
    text-align: right;
}

#add-to-cart {
    color: #8FEB23;
    font-size: 1.9em;
}


.star::after {
    content: '\2605';
    color: #aaaaaa;
    font-size: 1.5em;
}
.star.full::after {
    color: #EBCE14;
}
