/**/
@import url('https://fonts.googleapis.com/css?family=Roboto:600,400,300');

.container {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #a77fd5;
}

.modal {
	position: relative;
	display: inline-block;
	width: 900px;
	height: 700px;
	margin: 3em auto;
	background-color: transparent;
}
#contact-list, #keypad {
	position: relative;
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
#contact-list {
	height: 93%;
	background: rgba(0,0,0,0.4);
	margin: 3% -5px 0 0;
	box-shadow: 5px 5px 25px rgba(0,0,0,0.1), -3px -3px 10px rgba(0,0,0,0.1);
}

.contact {
	margin: 0.7em 5%;
	width: 90%;
	background-color: #fff;
	text-align: left;
	box-shadow: 5px 5px 25px rgba(0,0,0,0.3), -3px -3px 10px rgba(0,0,0,0.3);
}
.contact-image {
	width: 4em;
	height: 4em;
	margin-bottom: -6px;
	box-sizing: border-box;
	overflow: hidden;
	display: inline-block;
}
.contact-image img{
	width: 100%;
	height: auto;
	display: inline-block;
}
.contact-info {
	display: inline-block;
	vertical-align: 60%;
	box-sizing: border-box;
	padding-left: 0.5em;
}
.contact-name {
	font-size: 0.9em;
	font-weight: 600;
}
.contact-number {
	font-size: 0.75em;
	font-weight: 400;
	color: #888888;
}
.contact-number .highlight {
	color: #62d91b;
}

#keypad {
	padding: 0;
	background-color: #fff;
	height: 100%;
	box-shadow: 5px 5px 25px rgba(0,0,0,0.3), -3px -3px 10px rgba(0,0,0,0.3);
}
#keypad .row button {
	width: 30%;
	transition: all 0.1s ease;
}
#keypad .row button:hover {
	background-color: #dddddd;
}
#keypad button > span {
	display: block;
}

.row {
	line-height: 1.5em;
	height: 2.3em;
	font-size: 2em;
	display: block;
}
.keypad-number {
	color: #333;
}
.keypad-alpha {
	text-transform: uppercase;
	font-size: 0.4em;
	color: #aaaaaa;
	line-height: 0.5em;
}

#call {
	color: #62d91b;
	font-size: 1.5em;
}
button#reset, button#add-contact {
	color: #888888;
	display: inline-block;
	font-size: 0.5em;
	font-weight: 600;
	line-height: 2em;
	vertical-align: middle;
	height: 100%;
	width: 19% !important;
	text-align: center;
	margin: 0 -1em;
}
#keypad-display {
	display: inline-block;
	font-weight: 600;
	color: #62d91b;
	width: 60%;
}